.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      margin-bottom: 10px;
      display: block;
      position: relative;
      list-style: none;
      opacity: 0;
      clear: both;
      overflow: hidden;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
    }
    li.half {
      width: 49%;
      float: left;
      clear: none;
      margin-left: 2%;

      &:first-child {
        margin-left: 0;
      }
    }
    input:is([type='text'], [type='email']) {
      width: 100%;
      padding: 0 20px;
      height: 50px;
      font-size: 16px;
      background: #115173;
      color: #fff;
      border: 0;
      box-sizing: border-box;
    }

    textarea {
      width: 100%;
      min-height: 150px;
      border: 0;
      background: #115173;
      padding: 20px;
      color: #fff;
      font-size: 16px;
      box-sizing: border-box;
    }

    .flat-button {
      padding: 8px 10px;
      text-decoration: none;
      letter-spacing: 3px;
      border: 1px solid #ffd700;
      color: #ffd700;
      font-size: 11px;
      background: 0 0;
      text-align: center;
      text-transform: uppercase;
      border-radius: 4px;
      float: right;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}

.map-container {
  width: 53%;
  float: right;
  height: 115%;
  margin-top: -3%;
  background: rgba(8, 253, 216, 0.1);
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.map-info {
  position: absolute;
  top: 50px;
  right: 30%;
  z-index: 999999;
  background: #000;
  color: #fff;
  width: 275px;
  padding: 20px;
  font-size: 17px;
  font-weight: 300;
  font-family: 'Helvetica';
  opacity: 0;
  animation: fadeIn 2s 2s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
    color: #ffd700;
  }
}
