html {
  font-size: 62.5%;
}

body {
  display: block;
  background: #022c43;
  color: #444;
  margin: 0;
  overflow: hidden;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
